span {
  font-weight: bold;
  display: inline-block;
  width: 500px;
}

body {
  padding: 40px;
}

button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 20px;
  background-color: #4285F4;
  margin-bottom: 40px;
  outline: none;
}

label {
  display: inline-block;
  width: 80px;
}